<a href="https://colab.research.google.com/github/1016305/AAAAAAAHHHHHHH/blob/main/Copy_of_Lab_03_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB #03** - Looping
<br/>

><table>
##**Lab Overview**

These lab questions will help develop your understanding of how loops work and some of the applications where loops are used.  
></table>

<br/><br/>

# **Question #1** - Aggregates on User Input
---
<br/>

Write a program that takes in from the user a list of marks until the user enters a negative number. Once this is done, the program should calculate and display



1.   The number of marks
2.   The highest mark
3.   The lowest mark
4.   The average of the marks

(note: You cannot use the `max()` or `min()` functions)

<br/>


**<u>Example Run:</u>**<br/>
Mark #1? **50**<br/>
Mark #2? **60**<br/>
Mark #3? **-1**<br/>
Number of marks = 2<br/>
Highest Mark = 60<br/>
Lowest Mark = 50<br/>
Average Mark = 55<br/>
<br/>

<Br/>

><table>
### BONUS
---
Try and add some validation into the program where if the user enters a mark over 100, a message is sent to the user that lets them know that the mark is invalid (and it doesn't add the mark to the statistics - the program just loops again to get another mark).
</table>

### Your Answer:

In [1]:
# Student Name: Nik Walsh
# Student Number: 1016305

# Add answer below this line

#list and variables
marks = []
count = 0
total = 0
#initial input
a = int(input(f"Mark #{count+1}? "))
marks.append(a)
count+=1
#loop awaiting inputs
while marks[len(marks) - 1] > 0:
  b = int(input(f"Mark #{count+1}? "))
  #catch if user input an invalid grade
  if b > 100:
    print("Mark is invalid. Please try again: ")
    continue
  marks.append(b)
  count+=1

#remove the negative input, sort
marks.pop()
marks.sort(reverse = True)

#calculate average

for i in marks:
  print(i)
  total += i

#print that shit
average = total / len(marks) - 1
print(f"Number of marks = {count - 1}")
print(f"Highest mark: {marks[0]}")
print(f"Lowest mark: {marks[len(marks) - 1]}")
print(f"Average mark: {average}")

Mark #1? 55
Mark #2? 512
Mark is invalid. Please try again:
Mark #2? 88
Mark #3? 98
Mark #4? 78
Mark #5? 98
Mark #6? 1
Mark #7? -1
98
98
88
78
55
1
Number of marks = 6
Highest mark: 98
Lowest mark: 1
Average mark: 68.66666666666667

<Br/><br/>

# **Question #2** - Interest Earning Calculator
---

<br/>

Create a program that takes in details of a fixed-term interest saving account (initial balance, number of years, interest rate percentage) and creates a nicely formatted table that shows the details for each year. <br/><br/>


**<u>Example Run:</u>**<br/>
Balance? **100000**<br/>
Years? **10**<br/>
Interest Rate(%)? **5**<br/>
```
Year      Balance     Interest   Total Int.
-------------------------------------------
   1   105,000.00     5,000.00     5,000.00
   2   110,250.00     5,250.00    10,250.00
   3   115,762.50     5,512.50    15,762.50
   4   121,550.62     5,788.12    21,550.62
   5   127,628.16     6,077.53    27,628.16
   6   134,009.56     6,381.41    34,009.56
   7   140,710.04     6,700.48    40,710.04
   8   147,745.54     7,035.50    47,745.54
   9   155,132.82     7,387.28    55,132.82
  10   162,889.46     7,756.64    62,889.46
```

<br/><br/>

### Your Answer:

In [ ]:
# Student Name: Nik Walsh
# Student Number: 1016305

# Add answer below this line
from tabulate import tabulate
#lists
year_list = [] #year counter
bal_list = [] #balance after interest
intr_list = [] #interest earned this year
total_list = [] #total interest over time

#inputs
bal = float(input("Balance? "))
year = int(input("Years? "))
rate = float(input("Interest rate(%)? "))
intr_count = 0

rate = rate/100
for i in range(year):
  #do the math
  interest = (bal*rate)
  bal = bal + interest
  intr_count += interest

  #format and concatenate
  bal = round(bal, 2)
  _bal = str(format(bal, ','))
  _bal = "$" + _bal

  interest = round(interest, 2)
  _interest = str(format(interest, ','))
  _interest = "$" + _interest

  intr_count = round(interest, 2)
  _intr_count = str(format(intr_count, ','))
  _intr_count = "$" + _intr_count

  #append data to lists for tabulation
  year_list.append(i+1)
  bal_list.append(_bal)
  intr_list.append(_interest)
  total_list.append(_intr_count)

#print the lists as a table
table = [year_list, bal_list, intr_list, total_list]
print(tabulate({"Year": year_list,
                "Ballance": bal_list,
                "Interest": intr_list,
                "Total Int.": total_list}, headers="keys", tablefmt="simple"))

Balance? 100000
Years? 10
Interest rate(%)? 5
  Year  Ballance     Interest    Total Int.
------  -----------  ----------  ------------
     1  $105,000.0   $5,000.0    $5,000.0
     2  $110,250.0   $5,250.0    $5,250.0
     3  $115,762.5   $5,512.5    $5,512.5
     4  $121,550.62  $5,788.12   $5,788.12
     5  $127,628.15  $6,077.53   $6,077.53
     6  $134,009.56  $6,381.41   $6,381.41
     7  $140,710.04  $6,700.48   $6,700.48
     8  $147,745.54  $7,035.5    $7,035.5
     9  $155,132.82  $7,387.28   $7,387.28
    10  $162,889.46  $7,756.64   $7,756.64

<br/><br/>

# **Submission**
---

When you believe you have the program correctly working, please run the program and enter valid details for each program so that the output is apparent.
<br/><br/>
When you are ready to submit please

*   go to `File` -> `Print` -> `Print PDF` and then upload and submit in the LMS.
*   save your file to GitHub via: `File` -> `Save a copy in GitHub`